train:
  device: cuda
  epochs: 1
  batch_size: 8
  learning_rate: 2.0e-4
  mixed_precision: false
  gradient_clip_norm: 1.0
  num_workers: 4
  pin_memory: true
  dataloader_prefetch_factor: 2
  dataloader_persistent_workers: false
  enable_cuda_prefetch: false
  allow_tf32: true
  
  train_data_path: /DATA/LSDIR/data
  val_data_path: /DATA/LSDIR/vali
  val_every: 1
  log_every: 5
  early_stopping_patience: 1
  checkpoint_dir: ./models/checkpoints/quick
  auto_resume: false
  torch_compile: false

loss_global_scale: 1.0

loss_weights:
  pixel: 1.0
  frequency: 0.0
  perceptual: 0.0
  vgg: 0.0
  adversarial: 0.0

loss_options:
  enable_anime_loss: false

gan:
  enabled: false
  discriminator_lr: 1.0e-4
  disc_update_ratio: 1

save_metrics:
  psnr: true
  ssim: false
  lpips: false
  val_loss : true

online_data_options:
  crop_size: 64         # 小尺寸快速跑通
  scale: 2
  downsample_filters: [bilinear]
  noise_p: 0.0
  noise_std_min: 0.0
  noise_std_max: 0.0
  blur_p: 0.0
  blur_sigma_min: 0.0
  blur_sigma_max: 0.0
  jpeg_p: 0.0
  jpeg_quality_min: 100
  jpeg_quality_max: 100
  webp_p: 0.0
  webp_quality_min: 100
  webp_quality_max: 100


model_config:
  image_size: 32     # 匹配 crop_size / scale
  in_channels: 3
  image_range: 1.0
  use_tiling: False
  tile_size: 64
  tile_pad: 32
  # MambaIRv2 SR2-L settings
  upscale: 2
  embed_dim: 174
  d_state: 16
  depths: [6, 6, 6, 6, 6, 6, 6, 6, 6]
  num_heads: [6, 6, 6, 6, 6, 6, 6, 6, 6]
  window_size: 16
  inner_rank: 64
  num_tokens: 128
  convffn_kernel_size: 5
  mlp_ratio: 2.0
  upsampler: 'pixelshuffle'
  resi_connection: '1conv'
