train:
  device: cuda
  epochs: 30
  batch_size: 3
  learning_rate: 1.0e-4   # 降低学习率，微调
  mixed_precision: false
  gradient_clip_norm: 1.0
  num_workers: 24
  pin_memory: true
  dataloader_prefetch_factor: 4
  dataloader_persistent_workers: true
  enable_cuda_prefetch: true
  allow_tf32: true
  
  train_data_path: /DATA/LSDIR/data
  val_data_path: /DATA/LSDIR/vali
  val_every: 1
  log_every: 100
  early_stopping_patience: 10
  checkpoint_dir: ./models/checkpoints/real_stage2
  auto_resume: false
  torch_compile: false

loss_global_scale: 1.0    # 恢复标准尺度

loss_weights:
  pixel: 1.0      
  frequency: 0.2  
  perceptual: 1.0 # 开启感官损失
  vgg: 0.0        # 可选，这里选 perceptual (LPIPS) 优先
  adversarial: 0.0

loss_options:
  enable_anime_loss: false

gan:
  enabled: false
  discriminator_lr: 1.0e-4
  disc_update_ratio: 1

save_metrics:
  psnr: true
  ssim: true
  lpips: true
  val_loss : false

online_data_options:
  crop_size: 128
  scale: 2
  downsample_filters: [nearest, bilinear, bicubic, lanczos]
  noise_p: 0.2
  noise_std_min: 0.001
  noise_std_max: 0.03
  blur_p: 0.2
  blur_sigma_min: 0.4
  blur_sigma_max: 1.5
  jpeg_p: 0.3
  jpeg_quality_min: 40
  jpeg_quality_max: 95
  webp_p: 0.3
  webp_quality_min: 45
  webp_quality_max: 95


model_config:
  image_size: 64
  in_channels: 3
  image_range: 1.0
  hat_patch_size: 1
  hat_body_hid_channels: 180
  hat_upsampler_hid_channels: 64
  hat_depths: [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
  hat_num_heads: [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
  hat_window_size: 16
  hat_compress_ratio: 3
  hat_squeeze_factor: 30
  hat_conv_scale: 0.01
  hat_overlap_ratio: 0.5
  hat_mlp_ratio: 2.0
  hat_qkv_bias: True
  hat_drop_rate: 0.0
  hat_attn_drop_rate: 0.0
  hat_drop_path_rate: 0.1
  hat_norm_layer: 'nn.LayerNorm'
  hat_patch_norm: true
  hat_use_checkpoint: true
  hat_resi_connection: '1conv'
